@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,300&family=Roboto+Slab:wght@100;200;300;400;500&display=swap');

.navbar{
    position: relative;
}

.navbar img{
    width: 100%;
    height: 150px;
}

.navbarText{
    display: flex;
    gap: 400px;
    margin: 35px 0 0 180px;
    position: absolute;
    top: 0;
}

.text1 {
    display: flex;
    gap: 50px;
}

.text1 h2{
    color: white;
}

.slider{
    display: flex;
}