.link{
    display: flex;
    align-items: center;
    gap: 170px;
    margin: 20px 0 0 220px;

}

.links{
    display: flex;
    gap: 30px;
}

.links a{
    font-size: 17px;
    font-weight: 900;
    color: black;
}

.footerText{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 0 0 220px;
}

.text1 h2{
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.img .img1{
    width: 200px;
    height: 50px;
    margin-bottom: 100px;
}

.img .img2{
    width: 230px;
    height: 200px;
    margin-bottom: 50px;
}